@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  @keyframes flicker {
    0%, 20%,100% {
      opacity: 1;
      transform: rotate(0deg);
    }
    25% {
      opacity: 0.8;
      transform: rotate(-20deg);
    }
    50% {
      opacity: 0.6;
      transform: rotate(20deg);
    }
    75% {
      opacity: 0.8;
      transform: rotate(-20deg);
    }
  }
  
  .custom-button {
    padding: 0.5rem 1rem !important; /* py-2 px-4 */
    min-height: 1.5rem !important; /* min-h-6 */
    background-color: #5b21b6 !important; /* bg-violet-800 */
    color: white !important; /* text-white */
    font-weight: 600 !important; /* font-semibold */
    border-radius: 0.5rem !important; /* rounded-lg */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important; /* shadow-md */
}

.custom-button:hover {
    background-color: #4c1d95 !important; /* hover:bg-violet-900 */
}

.custom-button:focus {
    outline: none !important; /* focus:outline-none */
    box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.75) !important; /* focus:ring-2 focus:violet-blue-500 focus:ring-opacity-75 */
}


.marquee-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee {
  display: inline-block;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(222, 222, 222, 0.8); /* Adjust the color and opacity as needed */
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-direction: column;
  gap:16px;
  font-weight: bold;
}

.marquee p {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: 'white'; /* Dark text color */
  margin: 0;
  
}


  .gift-card-banner-text {
    position: absolute;
    top: -5px;
    text-align: center;
    transform: scale(0.7);
    width: 60%;
    right:-15px;
  }
  
  /* Small screens (min-width: 640px) */
  @media (min-width: 640px) {
    .gift-card-banner-text {
      top: 58px;
      transform: scale(1);
      width: 50%;
      max-width: 50%;
      right:10px
    }
  }
  
  /* Large screens (min-width: 1024px) */
  @media (min-width: 1024px) {
    .gift-card-banner-text {
      width: 60%;
      top: 26%;
      right:13px;
    }
  }


  .animate-flicker {
    animation: flicker 2.5s infinite;
  }
  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}


.rotate-270 {
  transform: rotate(270deg);
}

/* Hover effect for LTR */
.ltr:hover .rotate-on-hover {
  transform: rotate(45deg);
}

/* Hover effect for RTL */
.rtl:hover .rotate-on-hover {
  transform: rotate(225deg);
}

/* Ensure smooth transitions */
.rotate-on-hover {
  transition: transform 0.15s ease-in-out;
}


.blog-post-card h1 {
  @apply text-2xl font-semibold;
  text-align: center;
}

.blog-post-card h2 {
  @apply text-lg font-semibold;
  text-align: center;
}

.blog-post-card h3 {
  @apply text-lg font-semibold;
  text-align: center;
}


 .blog-post-card h4, .blog-post-card p {
  @apply text-base font-normal;
  padding-right: 1rem;
  padding-left: 1rem;
}
.heroBannerTitle {
  @apply text-xl;
  @apply sm:text-3xl;
}
.fade-bottom-text{
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}